
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/ubuntu_x64_18.04_6.2.4_x64_4.0.30319.42000_core.json
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/ubuntu_x64_18.04_7.0.0_x64_3.1.2_core.json
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/win-48_x64_10.0.17763.0_5.1.17763.316_x64_4.0.30319.42000_framework.json
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/win-4_x64_10.0.18362.0_6.2.4_x64_4.0.30319.42000_core.json
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/win-4_x64_10.0.18362.0_7.0.0_x64_3.1.2_core.json
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/win-8_x64_10.0.14393.0_5.1.14393.2791_x64_4.0.30319.42000_framework.json
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/win-8_x64_10.0.14393.0_6.2.4_x64_4.0.30319.42000_core.json
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/win-8_x64_10.0.14393.0_7.0.0_x64_3.1.2_core.json
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/win-8_x64_10.0.17763.0_5.1.17763.316_x64_4.0.30319.42000_framework.json
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/win-8_x64_10.0.17763.0_6.2.4_x64_4.0.30319.42000_core.json
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/win-8_x64_10.0.17763.0_7.0.0_x64_3.1.2_core.json
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/win-8_x64_6.2.9200.0_3.0_x64_4.0.30319.42000_framework.json
Modules/PSScriptAnalyzer/1.19.1/compatibility_profiles/win-8_x64_6.3.9600.0_4.0_x64_4.0.30319.42000_framework.json
Modules/PSScriptAnalyzer/1.19.1/en-US/Microsoft.Windows.PowerShell.ScriptAnalyzer.dll-Help.xml
Modules/PSScriptAnalyzer/1.19.1/Microsoft.PowerShell.CrossCompatibility.dll
Modules/PSScriptAnalyzer/1.19.1/Microsoft.Windows.PowerShell.ScriptAnalyzer.BuiltinRules.dll
Modules/PSScriptAnalyzer/1.19.1/Microsoft.Windows.PowerShell.ScriptAnalyzer.dll
Modules/PSScriptAnalyzer/1.19.1/Newtonsoft.Json.dll
Modules/PSScriptAnalyzer/1.19.1/PSGetModuleInfo.xml
Modules/PSScriptAnalyzer/1.19.1/PSScriptAnalyzer.cat
Modules/PSScriptAnalyzer/1.19.1/PSScriptAnalyzer.psd1
Modules/PSScriptAnalyzer/1.19.1/PSScriptAnalyzer.psm1
Modules/PSScriptAnalyzer/1.19.1/PSv3/Microsoft.PowerShell.CrossCompatibility.dll
Modules/PSScriptAnalyzer/1.19.1/PSv3/Microsoft.Windows.PowerShell.ScriptAnalyzer.BuiltinRules.dll
Modules/PSScriptAnalyzer/1.19.1/PSv3/Microsoft.Windows.PowerShell.ScriptAnalyzer.dll
Modules/PSScriptAnalyzer/1.19.1/PSv3/Newtonsoft.Json.dll
Modules/PSScriptAnalyzer/1.19.1/PSv4/Microsoft.PowerShell.CrossCompatibility.dll
Modules/PSScriptAnalyzer/1.19.1/PSv4/Microsoft.Windows.PowerShell.ScriptAnalyzer.BuiltinRules.dll
Modules/PSScriptAnalyzer/1.19.1/PSv4/Microsoft.Windows.PowerShell.ScriptAnalyzer.dll
Modules/PSScriptAnalyzer/1.19.1/PSv4/Newtonsoft.Json.dll
Modules/PSScriptAnalyzer/1.19.1/PSv6/Microsoft.PowerShell.CrossCompatibility.dll
Modules/PSScriptAnalyzer/1.19.1/PSv6/Microsoft.Windows.PowerShell.ScriptAnalyzer.BuiltinRules.dll
Modules/PSScriptAnalyzer/1.19.1/PSv6/Microsoft.Windows.PowerShell.ScriptAnalyzer.dll
Modules/PSScriptAnalyzer/1.19.1/PSv7/Microsoft.PowerShell.CrossCompatibility.dll
Modules/PSScriptAnalyzer/1.19.1/PSv7/Microsoft.Windows.PowerShell.ScriptAnalyzer.BuiltinRules.dll
Modules/PSScriptAnalyzer/1.19.1/PSv7/Microsoft.Windows.PowerShell.ScriptAnalyzer.dll
Modules/PSScriptAnalyzer/1.19.1/ScriptAnalyzer.format.ps1xml
Modules/PSScriptAnalyzer/1.19.1/ScriptAnalyzer.types.ps1xml
Modules/PSScriptAnalyzer/1.19.1/Settings/CmdletDesign.psd1
Modules/PSScriptAnalyzer/1.19.1/Settings/CodeFormatting.psd1
Modules/PSScriptAnalyzer/1.19.1/Settings/CodeFormattingAllman.psd1
Modules/PSScriptAnalyzer/1.19.1/Settings/CodeFormattingOTBS.psd1
Modules/PSScriptAnalyzer/1.19.1/Settings/CodeFormattingStroustrup.psd1
Modules/PSScriptAnalyzer/1.19.1/Settings/core-6.1.0-linux-arm.json
Modules/PSScriptAnalyzer/1.19.1/Settings/core-6.1.0-linux.json
Modules/PSScriptAnalyzer/1.19.1/Settings/core-6.1.0-macos.json
Modules/PSScriptAnalyzer/1.19.1/Settings/core-6.1.0-windows.json
Modules/PSScriptAnalyzer/1.19.1/Settings/desktop-2.0-windows.json
Modules/PSScriptAnalyzer/1.19.1/Settings/desktop-3.0-windows.json
Modules/PSScriptAnalyzer/1.19.1/Settings/desktop-4.0-windows.json
Modules/PSScriptAnalyzer/1.19.1/Settings/desktop-5.1.14393.206-windows.json
Modules/PSScriptAnalyzer/1.19.1/Settings/DSC.psd1
Modules/PSScriptAnalyzer/1.19.1/Settings/PSGallery.psd1
Modules/PSScriptAnalyzer/1.19.1/Settings/ScriptFunctions.psd1
Modules/PSScriptAnalyzer/1.19.1/Settings/ScriptingStyle.psd1
Modules/PSScriptAnalyzer/1.19.1/Settings/ScriptSecurity.psd1
*.dll
*.xml
*.psd1
*.ps1xml
*.psm1
Modules/SqlServer/21.1.18245/coreclr/SqlServerPostScript.ps1
Modules/SqlServer/21.1.18245/SqlServerPostScript.ps1
Modules/MicrosoftTeams/2.3.0/LICENSE.txt
*.md
*.dylib
*.so
Modules/MicrosoftTeams/2.3.0/net472/bin/Microsoft.Teams.ConfigAPI.Cmdlets.private.deps.json
Modules/MicrosoftTeams/2.3.0/net472/custom/CmdletConfig.json
Modules/MicrosoftTeams/2.3.0/net472/custom/Get-CsTeamTemplateList.ps1
Modules/MicrosoftTeams/2.3.0/net472/custom/Grant-CsGroupPolicyPackageAssignment.ps1
Modules/MicrosoftTeams/2.3.0/net472/custom/New-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/net472/custom/Update-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Connect-CsConfigApi.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Disconnect-CsConfigApi.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Find-CsOnlineApplicationInstance.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsAcquiredNumberV2Async.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsAreaCodeV2AreaCodeAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsAutoAttendant.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsAutoAttendantSupportedLanguage.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsAutoAttendantSupportedTimeZone.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsAutoAttendantTenantInformation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsBatchPolicyAssignmentOperation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsCallQueue.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsCapabilityV2Capability.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsCapabilityV2OrderAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsGroupPolicyAssignment.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsInternalConfigApiModuleVersion.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOdcBridge.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOdcServiceNumber.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlineApplicationInstanceAssociation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlineApplicationInstanceAssociationStatus.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlineLisCivicAddress.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlineLisCivicAddressOnly.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlineLisLocation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlineLisLocationOnly.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlineLisPort.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlineLisSubnet.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlineLisSwitch.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlineLisWirelessAccessPoint.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlinePowerShellEndpoint.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlineSchedule.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOnlineSession.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsOrderV2Async.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsPortInOrderV2FormAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsPortInOrderV2OrderAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsReleaseOrderV2.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsSearchOrderV2OrderAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsSmV2OrderAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsTeamTemplate.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsTeamTemplateList.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsTenantApp.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsTenantLocationPhoneNumberAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsTenantLocationUserAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsTenantObou.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsTenantPhoneAssignment.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsTenantUserAssignment.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsUser.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsUserApp.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsUserPolicyAssignment.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsUserPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Get-CsUserPolicyPackageRecommendation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Grant-CsBatchPolicy.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Grant-CsGroupPolicyPackageAssignment.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Grant-CsUserPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Import-CsAutoAttendantHoliday.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsComprehensiveHealthV2HealthAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsDownloadPortInOrderV2LoaTemplateAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsExecutePortInOrderV2ActionAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsHealthV2.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsInternalBeginmove.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsInternalCompletemove.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsInternalGetpolicy.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsInternalPsTelemetry.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsInternalRehomeuser.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsInternalRollback.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsInternalSelfhostLogger.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsInternalSetmovedresourcedata.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsInternalTelemetryRelay.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsInternalValidateuser.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsProbeHealthV2RoleInstance.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsStatusHealthV2.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsTimeHealthV2.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Invoke-CsUploadPortInOrderV2LoaAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Move-CsInternalHelper.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsAutoAttendant.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsAutoAttendantCallableEntity.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsAutoAttendantCallFlow.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsAutoAttendantCallHandlingAssociation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsAutoAttendantDialScope.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsAutoAttendantMenu.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsAutoAttendantMenuOption.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsAutoAttendantPrompt.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsBatchPolicyAssignmentOperation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsBatchPolicyPackageAssignmentOperation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsCallQueue.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsGroupPolicyAssignment.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsOnlineApplicationInstanceAssociation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsOnlineDateTimeRange.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsOnlineLisCivicAddress.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsOnlineLisLocation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsOnlineSchedule.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsOnlineSession.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsOnlineTimeRange.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsPortInOrderV2Async.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsReleaseOrderV2Async.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsSearchOrderV2OrderAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsSmV2OrderAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/New-CsTeamTemplate.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/ProxyCmdletDefinitions.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsAutoAttendant.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsCallQueue.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsGroupPolicyAssignment.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsOnlineApplicationInstanceAssociation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsOnlineLisCivicAddress.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsOnlineLisLocation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsOnlineLisPort.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsOnlineLisSubnet.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsOnlineLisSwitch.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsOnlineLisWirelessAccessPoint.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsOnlineSchedule.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Remove-CsTeamTemplate.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Search-CsCountryV2CountryAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Search-CsPlanV2PlanAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Search-CsUser.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsAutoAttendant.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsCallQueue.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsGroupPolicyAssignment.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsInternalOnlinePowerShellEndpoint.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsOdcBridge.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsOnlineLisCivicAddress.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsOnlineLisLocation.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsOnlineLisPort.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsOnlineLisSubnet.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsOnlineLisSwitch.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsOnlineLisWirelessAccessPoint.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsOnlineSchedule.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Set-CsUser.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Test-CsOnlineLisCivicAddress.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Update-CsCapabilityV2CapabilityAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Update-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Update-CsPortInOrderV2FormAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Update-CsSearchOrderV2OrderStatusAsync.ps1
Modules/MicrosoftTeams/2.3.0/net472/exports/Update-CsTeamTemplate.ps1
Modules/MicrosoftTeams/2.3.0/net472/internal/Get-CsTeamTemplateList.ps1
Modules/MicrosoftTeams/2.3.0/net472/internal/Grant-CsGroupPolicyPackageAssignment.ps1
Modules/MicrosoftTeams/2.3.0/net472/internal/New-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/net472/internal/ProxyCmdletDefinitions.ps1
Modules/MicrosoftTeams/2.3.0/net472/internal/Update-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/net472/Microsoft.TeamsCmdlets.PowerShell.Connect.pdb
Modules/MicrosoftTeams/2.3.0/net472/Microsoft.TeamsCmdlets.PowerShell.Custom.pdb
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/bin/Microsoft.Teams.ConfigAPI.Cmdlets.private.deps.json
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/custom/CmdletConfig.json
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/custom/Get-CsTeamTemplateList.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/custom/Grant-CsGroupPolicyPackageAssignment.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/custom/New-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/custom/Update-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Connect-CsConfigApi.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Disconnect-CsConfigApi.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Find-CsOnlineApplicationInstance.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsAcquiredNumberV2Async.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsAreaCodeV2AreaCodeAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsAutoAttendant.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsAutoAttendantSupportedLanguage.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsAutoAttendantSupportedTimeZone.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsAutoAttendantTenantInformation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsBatchPolicyAssignmentOperation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsCallQueue.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsCapabilityV2Capability.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsCapabilityV2OrderAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsGroupPolicyAssignment.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsInternalConfigApiModuleVersion.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOdcBridge.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOdcServiceNumber.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlineApplicationInstanceAssociation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlineApplicationInstanceAssociationStatus.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlineLisCivicAddress.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlineLisCivicAddressOnly.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlineLisLocation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlineLisLocationOnly.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlineLisPort.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlineLisSubnet.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlineLisSwitch.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlineLisWirelessAccessPoint.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlinePowerShellEndpoint.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlineSchedule.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOnlineSession.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsOrderV2Async.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsPortInOrderV2FormAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsPortInOrderV2OrderAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsReleaseOrderV2.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsSearchOrderV2OrderAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsSmV2OrderAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsTeamTemplate.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsTeamTemplateList.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsTenantApp.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsTenantLocationPhoneNumberAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsTenantLocationUserAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsTenantObou.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsTenantPhoneAssignment.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsTenantUserAssignment.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsUser.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsUserApp.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsUserPolicyAssignment.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsUserPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Get-CsUserPolicyPackageRecommendation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Grant-CsBatchPolicy.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Grant-CsGroupPolicyPackageAssignment.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Grant-CsUserPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Import-CsAutoAttendantHoliday.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsComprehensiveHealthV2HealthAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsDownloadPortInOrderV2LoaTemplateAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsExecutePortInOrderV2ActionAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsHealthV2.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsInternalBeginmove.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsInternalCompletemove.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsInternalGetpolicy.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsInternalPsTelemetry.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsInternalRehomeuser.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsInternalRollback.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsInternalSelfhostLogger.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsInternalSetmovedresourcedata.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsInternalTelemetryRelay.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsInternalValidateuser.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsProbeHealthV2RoleInstance.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsStatusHealthV2.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsTimeHealthV2.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Invoke-CsUploadPortInOrderV2LoaAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Move-CsInternalHelper.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsAutoAttendant.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsAutoAttendantCallableEntity.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsAutoAttendantCallFlow.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsAutoAttendantCallHandlingAssociation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsAutoAttendantDialScope.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsAutoAttendantMenu.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsAutoAttendantMenuOption.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsAutoAttendantPrompt.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsBatchPolicyAssignmentOperation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsBatchPolicyPackageAssignmentOperation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsCallQueue.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsGroupPolicyAssignment.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsOnlineApplicationInstanceAssociation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsOnlineDateTimeRange.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsOnlineLisCivicAddress.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsOnlineLisLocation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsOnlineSchedule.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsOnlineSession.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsOnlineTimeRange.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsPortInOrderV2Async.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsReleaseOrderV2Async.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsSearchOrderV2OrderAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsSmV2OrderAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/New-CsTeamTemplate.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/ProxyCmdletDefinitions.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsAutoAttendant.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsCallQueue.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsGroupPolicyAssignment.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsOnlineApplicationInstanceAssociation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsOnlineLisCivicAddress.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsOnlineLisLocation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsOnlineLisPort.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsOnlineLisSubnet.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsOnlineLisSwitch.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsOnlineLisWirelessAccessPoint.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsOnlineSchedule.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Remove-CsTeamTemplate.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Search-CsCountryV2CountryAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Search-CsPlanV2PlanAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Search-CsUser.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsAutoAttendant.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsCallQueue.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsGroupPolicyAssignment.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsInternalOnlinePowerShellEndpoint.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsOdcBridge.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsOnlineLisCivicAddress.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsOnlineLisLocation.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsOnlineLisPort.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsOnlineLisSubnet.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsOnlineLisSwitch.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsOnlineLisWirelessAccessPoint.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsOnlineSchedule.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Set-CsUser.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Test-CsOnlineLisCivicAddress.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Update-CsCapabilityV2CapabilityAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Update-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Update-CsPortInOrderV2FormAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Update-CsSearchOrderV2OrderStatusAsync.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/exports/Update-CsTeamTemplate.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/internal/Get-CsTeamTemplateList.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/internal/Grant-CsGroupPolicyPackageAssignment.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/internal/New-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/internal/ProxyCmdletDefinitions.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/internal/Update-CsCustomPolicyPackage.ps1
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/Microsoft.TeamsCmdlets.PowerShell.Connect.pdb
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/Microsoft.TeamsCmdlets.PowerShell.Custom.deps.json
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/Microsoft.TeamsCmdlets.PowerShell.Custom.pdb
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/runtimes/win-arm/native/pwrshplugin.pdb
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/runtimes/win-arm64/native/pwrshplugin.pdb
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/runtimes/win-x64/native/pwrshplugin.pdb
Modules/MicrosoftTeams/2.3.0/netcoreapp3.1/runtimes/win-x86/native/pwrshplugin.pdb
